node_modules/**/*
build/**/*
certs/**/*

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

package-lock.json

# misc
.DS_Store
.env
.env.prod
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
.env.prod.backup